{% if app.session.flashBag.peek(scopeKey) is not empty %}
    <div class="messages">
        {% for message in app.flashes(scopeKey) %}
            <div class="{{ message.type }}{% block messageCssClass %}{% endblock %}">
                {{ message.text }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if breadcrumbs|default([]) is not empty %}
    <nav class="breadcrumbs-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.last %}
                    <li class="item level-{{ loop.index }} active{% block breadcrumbItemCssClass %}{% endblock %}" aria-current="page">
                        {{ breadcrumb.name }}
                    </li>
                {% else %}
                    <li class="item level-{{ loop.index }}{{ block('breadcrumbItemCssClass') }}">
                        {% if breadcrumb._href|default %}
                            <a href="{{ breadcrumb._href }}">
                                {{ breadcrumb.name }}
                            </a>
                        {% else %}
                            {{ breadcrumb.name }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}

{% if folderData|default is not empty or filesData|default is not empty %}
    <div class="wrapper{% block tableWrapperCssClass %}{% endblock %}"
         data-yes-label="{{ 'huh.file_manager.misc.yes'|trans }}"
         data-no-label="{{ 'huh.file_manager.misc.no'|trans }}">
        <table class="files-table{% block tableCssClass %}{% endblock %}">
            <thead>
            <tr>
                {% if addThumbnailImages|default %}
                    <th class="thumbnail"></th>
                {% endif %}

                <th class="name">{{ 'huh.file_manager.misc.name'|trans }}</th>
                <th class="size">{{ 'huh.file_manager.misc.size'|trans }}</th>
                <th class="modified">{{ 'huh.file_manager.misc.modified'|trans }}</th>

                {% if actions|default([]) is not empty %}
                    <th class="actions"></th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for folder in folderData %}
                <tr>
                    {% if addThumbnailImages|default %}
                        <td class="thumbnail">
                            <div class="icon folder"></div>
                        </td>
                    {% endif %}

                    <td class="name">
                        <a class="name" href="{{ folder._href|raw }}">
                            {{ folder.title }}
                        </a>
                    </td>
                    <td class="size">
                        –
                    </td>
                    <td class="modified">
                        {{ folder._modified }}
                    </td>

                    {% if actions|default([]) is not empty %}
                        <td class="actions">
                            {% for action in actions %}
                                <a title="{{ folder._actions[action].title }}"
                                   class="{{ folder._actions[action].class }}{% block actionCssClass %}{% endblock %}"
                                   href="{{ folder._actions[action].href }}"
                                   {{ folder._actions[action].attributes|raw }}>
                                    <span>{{ folder._actions[action].title }}</span>
                                </a>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for file in filesData %}
                <tr>
                    {% if addThumbnailImages|default %}
                        <td class="thumbnail">
                            {% if file._thumbnailImage|default %}
                                <a class="thumbnail" href="{{ file._href|raw }}">
                                    {{ include('@HeimrichHannotContaoUtils/image.html.twig', file._thumbnailImage)  }}
                                </a>
                            {% else %}
                                <div class="icon" data-extension="{{ file.extension }}"></div>
                            {% endif %}
                        </td>
                    {% endif %}

                    <td class="name">
                        <a class="name" href="{{ file._href|raw }}">
                            {{ file.name }}
                        </a>
                    </td>
                    <td class="size">
                        {{ file._size }}
                    </td>
                    <td class="modified">
                        {{ file._modified }}
                    </td>

                    {% if actions|default([]) is not empty %}
                        <td class="actions">
                            {% for action in actions %}
                                <a title="{{ file._actions[action].title }}"
                                   class="{{ file._actions[action].class }}{{ block('actionCssClass') }}"
                                   href="{{ file._actions[action].href }}"
                                   {{ file._actions[action].attributes|raw }}>
                                    <span>{{ file._actions[action].title }}</span>
                                </a>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% elseif emptyText|default %}
    <p class="empty-text{% block emptyTextCssClass %}{% endblock %}">{{ emptyText }}</p>
{% endif %}
